<div>
    <a href="/">SC Galaxy</a>
    <span>&copy; {{ 'now'|date('Y') }}.</span>
</div>
<div class="ml-auto">
    <span>Created by</span>
    <a target="_blank" href="https://github.com/Ioni14">Ioni</a>
</div>
