<div>
    <a href="/">SC Galaxy</a>
    <span>&copy; {{ 'now'|date('Y') }}.</span>
    Star Citizen is a product of Cloud Imperium Rights LLC and Cloud Imperium Rights Ltd.

</div>
<div class="ml-auto">
    By the creators of <a target="_blank" href="https://fleet-manager.space">Fleet Manager</a>.
</div>
