<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('ships_list') }}">
                <i class="nav-icon fa fa-fighter-jet"></i> Ships
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('ship_chassis_list') }}">
                <i class="nav-icon fa fa-fighter-jet"></i> Ship Chassis
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('manufacturers_list') }}">
                <i class="nav-icon fa fa-industry"></i> Manufacturers
            </a>
        </li>
        <li class="nav-item mt-auto">
            <a class="nav-link nav-link-danger" href="{{ path('api_doc') }}" target="_blank">
                <i class="nav-icon fas fa-cogs"></i> API Docs
            </a>
        </li>
    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>
