{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="breadcrumb-item">
            <a href="{{ path('ships_chassis_list') }}">Ships Chassis</a>
        </li>
        <li class="breadcrumb-item active">List</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">


        </div>
    </div>
{% endblock %}
